/*CSS variables for colors and more*/
:root {
	--background: rgb(236, 236, 236); /*Main background color*/
	--header-footer-background: rgba(20, 20, 20, 0.9); /*Color for header and footer background*/
	--button-background: rgba(150, 200, 255, 0.5); /*Background color for buttons*/
	--white-font: rgb(240, 240, 240); /*Color for all white text*/
	--black-font: rgb(12, 12, 12); /*Color for all black text*/
}

/*Main body attributes that changes everything on the website*/
body {
	background-color: var(--background); /*Changes background color on the whole page*/
	font-family: Verdana, Geneva, Tahoma, sans-serif; /*Font stack with fonts to load in if the first one didn't work it goes to the next one*/
	color: var(--black-font); /*Text color*/
	margin: 0; /*Removes margins to the outerparts of the website*/
}
/*Grid wrapper for the website*/
.gridContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
	"main"
	"footer";
	grid-gap: 1rem 2rem;
}

/*====================
		HEADER
=====================*/
/*Header*/
header {
	grid-area: header;
	background-color: var(--header-footer-background);
	padding: 15px;
}

/*====================
		NAV
=====================*/

/*The unordered list in the navbar*/
nav ul {
	display: flex;
	flex-direction: row;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
nav li{
	flex: 33%;
	justify-content: center;
	display: flex;
}
/*The text in the navbar items*/
nav li a {
	color: var(--white-font);
	background-color: var(--button-background);
	padding: 10px 25px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	border-radius: 25px;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
nav li img {
	display: flex;
	justify-content: center;
}

/*Main logo "hockey fantaster" that links to the home page*/
.mainLogo {
	height: 6rem;
}

/*====================
		MAIN
=====================*/



/*====================
		FOOTER
=====================*/
/*Footer*/
footer {
	grid-area: footer;
	color: var(--white-font);
	background-color: var(--header-footer-background);
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 15px;
	text-align: center;
}
footer ul {
	list-style-type: none;
}
footer a {
	color: var(--white-font);
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	font-size: 1rem;
}

/*====================
	MEDIA QUERIES
=====================*/
